#!/usr/bin/make -f

export DH_GOLANG_EXCLUDES := example

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_test:
## Ignore test failures; on buildd tests fails with "protocol not supported":
	-dh_auto_test
